body{
    overflow: hidden;
}
main {
    min-height: 100vh;
    display: grid;
    place-items: center;
  }
  .container {
    text-align: center;
  }
  .container h2 {
    background: #000;
    color: #eee;
    padding: 1rem;
    border-radius: 5em;
    margin-bottom: 2.5rem;
    letter-spacing: 1rem;
    text-transform: uppercase;
  }
  .color {
    color: #fff;
  }
  .btn-hero {
    font-family: #fff;
    text-transform: uppercase;
    background: transparent;
    color: black;
    display: inline-block;
    font-weight: 700;
    transition: all 0.3s linear;
    border: 2px solid black;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 10%;
    font-size: 1rem;
    padding: 0.75rem 1.25rem;
  }
  .btn-hero:hover {
    color: #fff;
    background: #000;
  }